<header class="header__bg">
	<div class="header">
		<div class="header__inner">
			<a class="header__logo" href="javascript:void(0);">
				logo
			</a>
			<nav class="header__nav">
				<ul class="header__list">
					<li class="header__item">
						<a class="header__link" href="index.html">home</a>
					</li>
					<li class="header__item">
						<a class="header__link" href="#about">about us</a>
					</li>
					<li class="header__item">
						<a class="header__link" href="#projects">projects</a>
					</li>
					<li class="header__item">
						<a class="header__link" href="#our_team">our team</a>
					</li>
					<li class="header__item">
						<a class="header__link" href="#testimonials">testimonials</a>
					</li>
					<li class="header__item">
						<a class="header__link" href="#contacts">contacts</a>
					</li>
				</ul>
			</nav>
			<div class="burger">
				<span></span>
				<span></span>
				<span></span>
			</div>
			<div class="header__slider">
				<div class="header__slider__wrap">
					<p class="header__slider__title">
						Proin gravida nibh vel velit auctor aliquet
					</p>
					<p class="header__slider__text">
						This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis
					</p>
				</div>
				<div class="slider__wrap">
					<p class="header__slider__title">
						Proin gravida nibh vel velit auctor aliquet
					</p>
					<p class="header__slider__text">
						This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis
					</p>
				</div>
				<div class="slider__wrap">
					<p class="header__slider__title">
						Proin gravida nibh vel velit auctor aliquet
					</p>
					<p class="header__slider__text">
						This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis
					</p>
				</div>
				<div class="slider__wrap">
					<p class="header__slider__title">
						Proin gravida nibh vel velit auctor aliquet
					</p>
					<p class="header__slider__text">
						This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis
					</p>
				</div>
			</div>
		</div>
	</div>
</header>