@font-face {
  font-family: 'PristinaStd';
  src: url('../fonts/pristina/PristinaStd.eot?#iefix') format('embedded-opentype'), 
	    url('../fonts/pristina/PristinaStd.otf')  format('opentype'),
	    url('../fonts/pristina/PristinaStd.woff') format('woff'), 
	    url('../fonts/pristina/PristinaStd.ttf')  format('truetype'), 
	    url('../fonts/pristina/PristinaStd.svg#PristinaStd') format('svg');
  font-weight: normal;
  font-style: normal;
};
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,700&subset=cyrillic');